<div id="main">
  <div id="status">
    <p>Where's the thing?</p>
    form and button
  </div>

  <div id="navigation">
    <ul>
      <li>History</li>
      <li>QR</li>
    </ul>
  </div>

  <div id="history">
    list of user actions
  </div>

  <div id="footer">
    <p>2011</p>
  </div>
</div>
